<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bitcamp.web.mapper.CategoryMapper">

  <resultMap id="categoryMap" type="com.bitcamp.web.domain.CategoryDTO">
    <id property="categoryId" column="CATEGORY_ID"/>
    <result property="categoryName" column="CATEGORY_NAME"/>
    <result property="description" column="DESCRIPTION"/>
  </resultMap>

  <insert id="insertCategory" parameterType="com.bitcamp.web.domain.CategoryDTO">
    insert into CATEGORIES (CATEGORY_NAME,DESCRIPTION)
    values (#{categoryName},#{description})
  </insert>

  <select id="selectCategories" resultMap="categoryMap">
    select * from CATEGORIES
  </select>
  <select id="selectCategoriesByWord" resultMap="categoryMap" parameterType="com.bitcamp.web.domain.CategoryDTO">
    select * from CATEGORIES where CATEGORY_NAME = #{categoryName}
  </select>
  <select id="selectCategoryByCategoryId" resultMap="categoryMap" parameterType="string">
    select * from CATEGORIES where CATEGORY_ID = #{value}
  </select>

  <update id="updateCategory" parameterType="com.bitcamp.web.domain.CategoryDTO">
    update CATEGORIES set
    CATEGORY_NAME = #{categoryName},
    DESCRIPTION = #{description},
    where CATEGORY_ID = #{categoryId}
  </update>

  <delete id="deleteCategory" parameterType="com.bitcamp.web.domain.CategoryDTO">
    delete from CATEGORIES where CATEGORY_ID = #{categoryId}
  </delete>
</mapper>