<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bitcamp.web.mapper.CustomerMapper">
  <resultMap id="customerMap" type="com.bitcamp.web.domain.CustomerDTO">
    <id property="customerId" column="CUSTOMER_ID"/>
    <result property="customerName" column="CUSTOMER_NAME"/>
    <result property="password" column="PASSWORD"/>
    <result property="ssn" column="SSN"/>
    <result property="phone" column="PHONE"/>
    <result property="city" column="CITY"/>
    <result property="address" column="ADDRESS"/>
    <result property="postalcode" column="POSTALCODE"/>
    <result property="photo" column="PHOTO"/>
  </resultMap>

  <insert id="insertCustomer" parameterType="com.bitcamp.web.domain.CustomerDTO">
    insert into CUSTOMERS (CUSTOMER_NAME,PASSWORD,SSN,PHONE,CITY,ADDRESS,POSTALCODE,PHOTO)
    values (#{customerName},#{password},#{ssn},#{phone},#{city},#{address},#{postalcode},#{photo})
  </insert>

  <select id="selectCustomers" resultMap="CustomerMap">
    select * from CUSTOMERS
  </select>
  <select id="selectCustomersByWord" resultMap="CustomerMap" parameterType="com.bitcamp.web.domain.CustomerDTO">
    select * from CUSTOMERS where CUSTOMER_NAME = #{customerName}
  </select>
  <select id="selectCustomerByCustomerId" resultMap="CustomerMap" parameterType="string">
    select * from CUSTOMERS where CUSTOMER_ID = #{value}
  </select>

  <update id="updateCustomer" parameterType="com.bitcamp.web.domain.CustomerDTO">
    update CUSTOMERS set
    CUSTOMER_NAME = #{customerName},
    PASSWORD = #{password},
    SSN = #{ssn},
    PHONE = #{phone},
    CITY = #{city},
    ADDRESS = #{address},
    POSTALCODE = #{postalcode},
    PHOTO = #{photo},
    where CUSTOMER_ID = #{customerId}
  </update>

  <delete id="deleteCustomer" parameterType="com.bitcamp.web.domain.CustomerDTO">
    delete from CUSTOMERS where CUSTOMER_ID = #{customerId}
  </delete>
</mapper>