<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bitcamp.web.mapper.EmployeeMapper">
  <resultMap id="employeeMap" type="com.bitcamp.web.domain.EmployeeDTO">
    <id property="employeeId" column="EMPLOYEE_ID"/>
    <result property="manager" column="MANAGER"/>
    <result property="name" column="NAME"/>
    <result property="birthDate" column="BIRTH_DATE"/>
    <result property="photo" column="PHOTO"/>
    <result property="notes" column="NOTES"/>  
  </resultMap>

  <insert id="insertEmployee" parameterType="com.bitcamp.web.domain.EmployeeDTO">
    insert into EMPLOYEES (MANAGER,NAME,BIRTH_DATE,PHOTO,NOTES)
    values (#{manager},#{name},#{birthDate},#{photo},#{notes})
  </insert>

  <select id="selectEmploies" resultMap="employeeMap">
    select * from EMPLOYEES
  </select>
  <select id="selectEmploiesByWord" resultMap="employeeMap" parameterType="com.bitcamp.web.domain.EmployeeDTO">
    select * from EMPLOYEES where MANAGER = #{manager}
  </select>
  <select id="selectEmployeeByEmployeeId" resultMap="employeeMap" parameterType="string">
    select * from EMPLOYEES where EMPLOYEE_ID = #{value}
  </select>

  <update id="updateEmployee" parameterType="com.bitcamp.web.domain.EmployeeDTO">
    update EMPLOYEES set
    MANAGER = #{manager},
    NAME = #{name},
    BIRTH_DATE = #{birthDate},
    PHOTO = #{photo},
    NOTES = #{notes}
    where EMPLOYEE_ID = #{employeeId}
  </update>

  <delete id="deleteEmployee" parameterType="com.bitcamp.web.domain.EmployeeDTO">
    delete from EMPLOYEES where EMPLOYEE_ID = #{employeeId}
  </delete>
</mapper>