<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcamp.web.mapper.EmployeeMapper">

  <insert id="insertEmployee" parameterType="com.bitcamp.web.domain.EmployeeDTO">
    insert into EMPLOYEES (MANAGER,NAME,BIRTH_DATE,PHOTO,NOTES)
    values (#{manager},#{name},#{birthDate},#{photo},#{notes})
  </insert>

  <select id="selectEmploies" resultType="com.bitcamp.web.domain.EmployeeDTO">
    select * from EMPLOYEES
  </select>
  <select id="selectEmploiesByWord" resultType="com.bitcamp.web.domain.EmployeeDTO" parameterType="com.bitcamp.web.domain.EmployeeDTO">
    select * from EMPLOYEES where MANAGER = #{manager}
  </select>
  <select id="selectEmployeeByEmployeeId" resultType="com.bitcamp.web.domain.EmployeeDTO" parameterType="string">
    select * from EMPLOYEES where EMPLOYEE_ID = #{value}
  </select>

  <update id="updateEmployee" parameterType="com.bitcamp.web.domain.EmployeeDTO">
    update EMPLOYEES set
    MANAGER = #{manager},
    NAME = #{name},
    BIRTH_DATE = #{birthDate},
    PHOTO = #{photo},
    NOTES = #{notes}
    where EMPLOYEE_ID = #{employeeId}
  </update>

  <delete id="deleteEmployee" parameterType="com.bitcamp.web.domain.EmployeeDTO">
    delete from EMPLOYEES where EMPLOYEE_ID = #{employeeId}
  </delete>
</mapper>