<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bitcamp.web.mapper.OrderMapper">
  <resultMap id="orderMap" type="com.bitcamp.web.domain.OrderDTO">
    <id property="orderId" column="ORDER_ID"/>
    <result property="customerId" column="CUSTOMER_ID"/>
    <result property="employeeId" column="EMPLOYEE_ID"/>
    <result property="orderDate" column="ORDER_DATE"/>
    <result property="shipperId" column="SHIPPER_ID"/>
  </resultMap>

  <insert id="insertOrder" parameterType="com.bitcamp.web.domain.OrderDTO">
    insert into ORDERS (CUSTOMER_ID,EMPLOYEE_ID,ORDER_DATE,SHIPPER_ID)
    values (#{customerId},#{employeeId},#{orderDate},#{shipperId})
  </insert>

  <select id="selectOrders" resultMap="orderMap">
    select * from ORDERS
  </select>
  <select id="selectOrdersByWord" resultMap="orderMap" parameterType="com.bitcamp.web.domain.OrderDTO">
    select * from ORDERS where CUSTOMER_ID = #{customerId}
  </select>
  <select id="selectOrderByOrderId" resultMap="orderMap" parameterType="string">
    select * from ORDERS where ORDER_ID = #{value}
  </select>

  <update id="updateOrder" parameterType="com.bitcamp.web.domain.OrderDTO">
    update ORDERS set
    CUSTOMER_ID = #{customerId},
    EMPLOYEE_ID = #{employeeId},
    ORDER_DATE = #{orderDate},
    SHIPPER_ID = #{shipperId}
    where ORDER_ID = #{orderId}
  </update>

  <delete id="deleteOrder" parameterType="com.bitcamp.web.domain.ProductDTO">
    delete from ORDERS where ORDER_ID = #{orderId}
  </delete>
</mapper>