<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bitcamp.web.mapper.ProductMapper">
  <resultMap id="productMap" type="com.bitcamp.web.domain.OrderDTO">
    <id property="productId" column="PRODUCT_ID"/>
    <result property="productName" column="PRODUCT_NAME"/>
    <result property="supplierId" column="SUPPLIER_ID"/>
    <result property="categoryId" column="CATEGORY_ID"/>
    <result property="unit" column="UNIT"/>
    <result property="price" column="PRICE"/>
    <result property="photo" column="PHOTO"/>
  </resultMap>

  <insert id="insertProduct" parameterType="com.bitcamp.web.domain.ProductDTO">
    insert into PRODUCTS (PRODUCT_NAME,SUPPLIER_ID,CATEGORY_ID,UNIT,PRICE,PHOTO)
    values (#{productName},#{supplierId},#{categoryId},#{unit},#{price},#{photo})
  </insert>

  <select id="selectProducts" resultMap="productMap">
    select * from PRODUCTS
  </select>
  <select id="selectProductsByWord" resultMap="productMap" parameterType="com.bitcamp.web.domain.ProductDTO">
    select * from PRODUCTS where PRODUCT_NAME = #{productName}
  </select>
  <select id="selectProductByProductId" resultMap="productMap" parameterType="string">
    select * from PRODUCTS where PRODUCT_ID = #{value}
  </select>

  <update id="updateProduct" parameterType="com.bitcamp.web.domain.ProductDTO">
    update PRODUCTS set
    PRODUCT_NAME = #{productName},
    SUPPLIER_ID = #{supplierId},
    CATEGORY_ID = #{categoryId},
    UNIT = #{unit},
    PRICE = #{price},
    PHOTO = #{photo}
    where SHIPPER_ID = #{shipperId}
  </update>

  <delete id="deleteProduct" parameterType="com.bitcamp.web.domain.ProductDTO">
    delete from PRODUCTS where PRODUCT_ID = #{productId}
  </delete>
</mapper>